Repository CuberHuber/auto-tg-listener: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/checkmake/checkmake.git
    # Or another commit hash or version
    rev: 0.2.2
    hooks:
    # Use this hook to let pre-commit build checkmake in its sandbox
#    -   id: checkmake
    # OR Use this hook to use a pre-installed checkmake executable
     -   id: checkmake-system
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.7.0  # Use the ref you want to point at
    hooks:
      - id: dotenv-linter
        args: ['.env', 'template/.env.template']
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [ '--baseline', '.secrets.baseline' ]
        exclude: package.lock.json
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies: [wemake-python-styleguide]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        files: \.md$
        exclude: ^\.junie/
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: \.py$
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        files: \.py$

feat(#4): add uv action
  .github/workflows/pre-commit.yml
Due: none

fix(uv): add flake8 to dev group
  pyproject.toml
  uv.lock
Due: none

fix(uv): add install dep step
  .github/workflows/pre-commit.yml
Due: none

feat(lint): update linting workflows for markdown and pre-commit configurations
  .github/workflows/lint-markdown.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

fix(pre-commit): checkmake moved from pre-commit to Github Actions
  .github/workflows/lint-make.yml
  .github/workflows/lint-markdown.yml
  .pre-commit-config.yaml
Due: none

fix(pre-commit): checkmake moved from pre-commit to Github Actions
  .github/workflows/lint-make.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

feat(#4): dotenv-linter added (#8)
  .github/workflows/lint-make.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  template/.env.template
  uv.lock
Due: none

feature(lint): flake8-eradicate installed
  pyproject.toml
  uv.lock
Due: none

feature(project): wemake-services pre-commit and static analyzer settings configured
  .github/workflows/lint-make.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  setup.cfg
  template/.env.template
Due: none

qa(reuse): add reuse tools to the pre-commit hook and a GitHub Actions
  .github/workflows/pre-commit.yml
  .github/workflows/reuse.yml
  .pre-commit-config.yaml
  LICENSE
  LICENSES/MIT.txt
  REUSE.toml
Due: none

fix(security): set permissions for reuse action
  .github/workflows/reuse.yml
Due: none

fix(linters): fix linter warnings and license headers in files
  .github/workflows/lint-make.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-python.yml
  .pre-commit-config.yaml
  LICENSES/CC0-1.0.txt
  Makefile
  REUSE.toml
  main.py
  setup.cfg
Due: mypy, flake8

fix(action): upgrade GoLang to 1.23 version in Action
  .github/workflows/lint-make.yml
Due: none

fix(action): add actionlint
  .github/workflows/actionlint.yml
  .github/workflows/makelint.yml
  .github/workflows/markdownlint.yml
  .github/workflows/pythonlint.yml
Due: none

feature(pdd): init pdd to repo
  .0pdd.yml
  .github/workflows/pdd.yml
  .pdd
  README.md
Due: markdownlint

fix(lint): disable junie guidelines for markdawnlint
  .junie/guidelines.md
  .pre-commit-config.yaml
Due: none

fix(action): restrict GitHub Actions permissions
  .github/workflows/actionlint.yml
  .github/workflows/makelint.yml
  .github/workflows/markdownlint.yml
  .github/workflows/pdd.yml
  .github/workflows/pythonlint.yml
Due: none

feat(ci): add init tests
  .github/workflows/pytest.yml
  README.md
  main.py
  tests/test_main.py
Due: markdownlint, mypy, flake8

fix(action):
  .github/workflows/pytest.yml
  pyproject.toml
  uv.lock
Due: none

fix(action): use uv in the pytest action
  .github/workflows/pytest.yml
Due: none

fix(coverage): fix codecov config, lowered cov-fail-under limit to 60%
  main.py
  setup.cfg
  tests/__init__.py
  tests/test_main.py
Due: mypy, flake8

closes #12 #9 qa(reuse) #12 #9: add reuse tools to the pre-commit hook and a GitHub Actions (#14)
  .0pdd.yml
  .github/workflows/actionlint.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/makelint.yml
  .github/workflows/markdownlint.yml
  .github/workflows/pdd.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .github/workflows/pythonlint.yml
  .github/workflows/reuse.yml
  .junie/guidelines.md
  .pdd
  .pre-commit-config.yaml
  LICENSE
  LICENSES/CC0-1.0.txt
  LICENSES/MIT.txt
  Makefile
  README.md
  REUSE.toml
  main.py
  pyproject.toml
  setup.cfg
  tests/__init__.py
  tests/test_main.py
  uv.lock
Due: markdownlint, mypy, flake8

Create SECURITY.md
  SECURITY.md
Due: markdownlint

fix(actions): links action setup to failing in error
  .github/workflows/links.yml
Due: none

fix(readme): fix unavailable links
  README.md
Due: markdownlint

feat(ci): add lychee cache file to .gitignore
  .gitignore
Due: none

feat(doc): generate CONTRIBUTING.md file
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: markdownlint

Add new ci actions
  .github/dependabot.yml
  .github/workflows/links.yml
  .gitignore
  .lycheeignore
  .markdownlint.json
  .markdownlint.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: markdownlint

fix(actions): add first-iteractoin action
  .github/workflows/greetings.yml
Due: none

fix(app) #11: semi-implement Elegant Object
  app/__init__.py
  app/main.py
  app/patterns.py
  app/project.py
  app/telegram.py
  main.py
  pyproject.toml
  tests/test_main.py
  uv.lock
Due: mypy, flake8

fix(pdd): pdd alerts disabled
  .0pdd.yml
  .pdd
Due: none

fix(app): upgrade project classes
  app/main.py
  app/patterns.py
  app/project.py
  app/telegram.py
  main.py
Due: mypy, flake8
